* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

.notification{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    height: 1cm;
    padding-left: 10px;
    padding-right: 15px;
    position:fixed;
}

.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: black;
    font-weight: 500;
    margin-right: 3.5rem;
    margin-top: 0;
    padding: 0;
    text-decoration: none ;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    /* background-color: red; */
    z-index: 1;
    transition: .5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.main{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active{
    filter:blur(10px);
    pointer-events: none;
}

#col-2 {
    position: absolute;
    top:150px;
    left:150px;
    color:white;
    font-size: 24px;
    flex-basis:100%;
    min-width: 300px;
}


.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

#home{
    height: 100vh;
    width: 100vw;
}

.btn:hover {
    background: #dadada;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
    padding-top: 25px;
}

#about{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.categories {
    margin: 70px 0;
}
.product_body_care_section{
   padding: 25px 0; 
}

.feature-rte-content.feat-rte-wide .page-width {
    max-width: 1014px;
}

.product_body_care_section .feature-rte-content {
    padding: 30px 0;
}

.feature-rte-content {
    background: #eff8f7;
}

.feat-icon-text {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
}
.feat-ic-item{
    width: 16.667%;
    float: left;
    padding: 15px 7px;
    text-align:center;
}

.quiz-container{
    display: flex;
    height: 100vh;
    width:200%;
}

.header .row {
    margin-top: 50px;
}

.video1{
    opacity: 0.7;
}

.header{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}